<!DOCTYPE html>
<html lang=en>
  <head>
    <title>mcpcpc - {{ page.title }}</title>
    <meta name=Description content="Minimum viable ideas and software solutions.">
  	<meta charset=utf-8>
  	<meta name=viewport content="width=device-width,initial-scuale=1">
	<style type="text/css">
		body{margin:3em auto;max-width:80ch;font-family:sans-serif}
		h1{font-size:1.3em;color:#4c4c99}
		h2{font-size:1em;color:#4c4c99}
		pre{font-size:0.8em;background:#ffffea}
	</style>
  </head>
  <body>
	<nav>
	</nav>
	{{ content }}	
	<footer>
		<p>Copyright &copy; 2020-2021, Michael Czigler</p>
	</footer>
	</body>
</html>