body {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
}

h1 {
  color: blue;
  border-bottom: 1px solid blue;
  display: block;
  width 100%;
}
